{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">To-Do App</h1>
  <p class="lead">Just another to-do app.</p>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Todo Items</h2>
    <ul class="list-group mb-4">
      {% for item in view_model.todo_items %}
      <li>
        <form action="/item?id={{item.id}}&status=Done" method="post">
          <label>{{item.title}}</label>
          <button type="submit" value="">Done</button>
        </form>
      </li>
      {% endfor %}

    </ul>
  </div>
  <div class="col-md-12">
    <h2>Done Items</h2>
    <ul class="list-group mb-4">
      {% for item in view_model.done_items %}
      <li>
        {{item.title}}
      </li>
      {% endfor %}

    </ul>
  </div>
  <form action="/item" method="post">
    <label>Add Item:</label>
    <input name="title" type="text" />
    <input type="submit" value="Add item" />
  </form>
</div>
{% endblock %}